<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzMatchRouter >
    <i nz-icon nzType="project" nzTheme="outline"></i>
    <a [routerLink]="['/', 'proje', 'duzenle']">Proje</a>
  </li>
  <li nz-menu-item nzMatchRouter >
    <i nz-icon nzType="aim" nzTheme="outline"></i>
    <a [routerLink]="['/', 'proje', 'list']">Görev</a>
  </li>
  <li nz-menu-item nzMatchRouter >
    <i nz-icon nzType="user" nzTheme="outline"></i>
    <a [routerLink]="['/', 'kullanici', 'list']">Kullanıcı</a>
  </li>
</ul>

