
<div class="grid">
    <div class="col-12 md:col-2">
        <p-listbox [options]="projeList" [(ngModel)]="selectProje" optionLabel="ad" (click)="ProjeGorevList(selectProje)"></p-listbox>
    </div>
    <div class="col-12 md:col-10">
        <div class="grid">
            <div class="col-12 md:col-10">
                <p-table [value]="gorevList" [resizableColumns]="true" [autoLayout]="true"  >
                    <ng-template pTemplate="header">
                        <tr>
                            <th hidden>ID</th>
                            <th hidden>Proje Id</th>
                            <th>  <p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                            <th>Görevler</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-gorev>
                        <tr>
                            <td hidden>{{gorev.id}}</td>
                            <td hidden>{{gorev.projeId}}</td>
                            <td><p-checkbox [(ngModel)]="gorev.id" (onChange)="GorevDurumuDegistir(gorev)" ></p-checkbox></td>
                            <td> {{gorev.yapilacakIsAciklama}}</td>
                        </tr>
                    </ng-template>
                    
                </p-table>
            </div>
            <div class="col-12 md:col-10">
                <input *ngIf="selectProje.id!=null" pInputText placeholder="Yeni görev yaz.. Enter ile kaydet" style="width: 100%;" (keyup.enter)="GorevEkle()" [(ngModel)]="gorev.yapilacakIsAciklama" >
            </div>
        </div>
        
    </div>
</div>
