

<div nz-row [nzGutter]="[10,10]">
  <div nz-col nzMd="4">
    <ul nz-menu nzMode="inline">
      <li nz-submenu nzTitle="Projeler" nzIcon="mail" nzOpen>
        <ul>
          <li nz-menu-item *ngFor="let proje of projeList" (click)="ProjeGorevList(proje)">{{proje.ad}} </li>
        </ul>
      </li>
    </ul>
  </div>
  <div nz-col nzMd="20">
<div nz-row [nzGutter]="[10,10]">
  <div nz-col nzXl="24">
    <nz-select ngModel="lucy" (ngModelChange)="BeklemedeOlanlar()" [(ngModel)]="selectDurum.deger"  nzPlaceHolder="Durum">
      <nz-option *ngFor="let durum of durumList" nzValue="{{durum.deger}}" nzLabel="{{durum.ad}}"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzXl="24">
    <input *ngIf="selectProje.id!=null" nz-input placeholder="Yeni görev yaz.. Enter ile kaydet"    style="width: 100%" (keyup.enter)="GorevEkle()" [(ngModel)]="gorev.yapilacakIsAciklama" >
  </div>
  <div nz-col nzXl="24">

  <nz-table #basicTable [nzData]="gorevList" nzSize="middle" [nzBordered]="true" [nzShowPagination]="false" >
    <thead>
      <tr>
        <th hidden >ID</th>
        <th hidden>Proje Id</th>
        <th></th>
        <th>Görevler</th>
        <th>Oluşturulma Tarihi</th>
        <th>Atayan Kullanıcı</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gorev of basicTable.data">
        <td hidden>{{gorev.id}}</td>
        <td hidden>{{gorev.projeId}}</td>
        <td style="width: 20px;">
          <label nz-checkbox [(ngModel)]="gorev.yapilmaDurumu" (onChange)="GorevDurumuDegistir(gorev)"></label>
        </td>
        <td  >
          <input nz-input [ngStyle]="
          {
            'text-decoration':gorev.yapilmaDurumu===true ? 'line-through':'none',
            'color':gorev.yapilmaDurumu===true ? 'green':''
          }
          "
           style="cursor: pointer;" #input value="{{gorev.yapilacakIsAciklama}}" (focusout)="GorevAciklamaDuzenle(gorev,input.value)">
          </td>
        <td>{{gorev.islemTarihi }}</td>
        <td>
          {{gorev.atananKullaniciAdi}}
        </td>
        <td>
          <button nz-button   nzDanger  (click)="GorevSil(gorev)"><i nz-icon nzType="delete"></i>  Sil</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>
  </div>
</div>
