


  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div nz-row >
        <div nz-col nzXs="1" nzSm="4" nzMd="7" nzLg="8" nzXl="8"></div>
        <div nz-col nzXs="22" nzSm="16" nzMd="10" nzLg="8" nzXl="8">
          <nz-card nzTitle="Proje Takibi v1.0- Giriş">

           <div nz-row [nzGutter]="[8,12]">
             <div nz-col nzSpan="24">
              <input nz-input placeholder="Kullanıcı Adı" [(ngModel)]="kullanici.kullaniciAdi" />
             </div>
             <div nz-col nzSpan="24">
              <input nz-input placeholder="Parola" type="password" [(ngModel)]="kullanici.parola" />
             </div>
             <div nz-col nzSpan="24">
              <button nz-button nzType="primary" (click)="Giris()">Giriş</button>
             </div>
           </div>
          </nz-card>
        </div>
        <div nz-col nzXs="1" nzSm="4" nzMd="7" nzLg="8" nzXl="8"></div>
      </div>

    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>

<!--
<div nz-row>
  <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="3" nzXl="2" style="background-color: chartreuse;">Col 1</div>
  <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="3" nzXl="2" style="background-color: blue;">Col 2</div>
  <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="3" nzXl="2" style="background-color:red;">Col 3</div>
</div> -->
