<div nz-row [nzGutter]="[5,5]">
  <div nz-col nzLg="4">
    <input type="text" nz-input [(ngModel)]="kullanici.kullaniciAdi" placeholder="Kullanıcı Adı">
  </div>
  <div nz-col nzLg="4">
    <input type="text" nz-input [(ngModel)]="kullanici.parola" placeholder="Parola">
  </div>
  <div nz-col nzLg="4">
    <input type="text" nz-input [(ngModel)]="kullanici.eposta" placeholder="Eposta">
  </div>
  <div nz-col nzLg="4">
    <input type="text" nz-input [(ngModel)]="kullanici.ad" placeholder="Ad">
  </div>
  <div nz-col nzLg="4">
    <input type="text" nz-input [(ngModel)]="kullanici.soyad" placeholder="Soyad">
  </div>
  <div nz-col nzLg="4">
    <button nz-button nzType="primary"  (click)="AddKullanici()">Kaydet</button>
  </div>
</div>
<br>
<div nz-row >
  <div nz-col nzLg="24">

    <nz-table #basicTable [nzData]="kullaniciList" nzSize="middle" [nzBordered]="true" [nzShowPagination]="false" [nzScroll]="{ x: '1200px', y: '540px' }">
      <thead>
        <tr>
          <th hidden>ID</th>
          <th>Kullanıcı Adı</th>
          <th>Parola</th>
          <th>Ad</th>
          <th>Soyad</th>
          <th>Eposta</th>
          <th>Sil</th>
          <th>Düzenle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kul of basicTable.data">
          <td hidden>{{kul.id}}</td>
          <td>{{kul.kullaniciAdi}}</td>
          <td>{{kul.parola }}</td>
          <td>{{kul.ad}}</td>
          <td>{{kul.soyad}}</td>
          <td>{{kul.eposta}}</td>
          <td>
            <button nz-button nzDanger (click)="DeleteControl(kul)"><i nz-icon nzType="delete"></i> Sil</button>
          </td>
          <td>
            <button nz-button  (click)="ShowModalDialog(kul)" ><i nz-icon nzType="edit"></i>Düzenle</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="displayModal" nzWidth="750px" nzTitle="The first Modal" (nzOnCancel)="ModalVazgec()" (nzOnOk)="UpdateKullanici()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="[5,5]">
      <div nz-col nzLg="4">
        <input type="text" id="txtKullaniciAdi" nz-input [(ngModel)]="selectKullanici.kullaniciAdi" placeholder="Kullanıcı Adı">
      </div>
      <div nz-col nzLg="4">
        <input type="text" id="txtParola" nz-input [(ngModel)]="selectKullanici.parola" placeholder="Parola">
      </div>
      <div nz-col nzLg="4">
        <input type="text" id="txtEposta" nz-input [(ngModel)]="selectKullanici.eposta" placeholder="Eposta">
      </div>
      <div nz-col nzLg="4">
        <input type="text" id="txtAd" nz-input [(ngModel)]="selectKullanici.ad" placeholder="Ad">
      </div>
      <div nz-col nzLg="4">
        <input type="text" id="txtSoyad" nz-input [(ngModel)]="selectKullanici.soyad" placeholder="Soyad">
      </div>
    </div>
  </ng-container>
</nz-modal>


<!-- <p-dialog header="Kullanıcı Düzenle" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3"> <input type="text" [disabled]="true" pInputText
        value="{{selectKullanici.kullaniciAdi}}" id="txtKullaniciAdi" placeholder="Kullanıcı Adı" class="w-full"> </div>
    <div class="col-12 md:col-6 lg:col-2"> <input type="text" pInputText value="{{selectKullanici.parola}}"
        id="txtParola" placeholder="Parola" class="w-full"> </div>
    <div class="col-12 md:col-6 lg:col-3"> <input type="text" pInputText value="{{selectKullanici.eposta}}"
        id="txtEposta" placeholder="Eposta" class="w-full"> </div>
    <div class="col-12 md:col-6 lg:col-2"> <input type="text" pInputText value="{{selectKullanici.ad}}" id="txtAd"
        placeholder="Ad" class="w-full"> </div>
    <div class="col-12 md:col-6 lg:col-2"> <input type="text" pInputText value="{{selectKullanici.soyad}}" id="txtSoyad"
        placeholder="Soyad" class="w-full"> </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="UpdateKullanici()" label="Kaydet" styleClass="p-button-success"></p-button>
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Kapat" styleClass="p-button-danger"></p-button>
  </ng-template>
</p-dialog>

<p-confirmPopup></p-confirmPopup> -->

<!-- <button (click)="DeleteControl($event,kul)" pButton icon="pi pi-check" label="Sil"></button> -->
