<p>test works!</p>
<input [(ngModel)]="kullanici.kullaniciAdi" placeholder="Kullanıcı Adı">
<input [(ngModel)]="kullanici.parola" placeholder="Parola">
<input [(ngModel)]="kullanici.ad" placeholder="Ad">
<input [(ngModel)]="kullanici.soyad" placeholder="Soyad">
<input [(ngModel)]="kullanici.eposta" placeholder="Eposta">
<button (click)="TestKaydet()">Kaydet</button>
<input [(ngModel)]="arananacakDeger" placeholder="Ad Ara" >
<button (click)="ArananiGetir()">Getir</button>
<button (click)="TestGetir()">Temizle</button>
<table >
    <thead>
        <tr style="color: brown;">
            <th>ID</th>
            <th>Kullanıcı Adı</th>
            <th>Parola</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Eposta</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kul of allNotes">
            <td> {{kul.payload.doc.id}}</td>
            <td>{{kul.payload.doc.data().kullaniciAdi}}</td>
            <td>{{kul.payload.doc.data().parola}}</td>  
          <td> <input [(ngModel)]="kul.payload.doc.data().ad"></td>
          <td>{{kul.payload.doc.data().soyad}}</td>
          <td>{{kul.payload.doc.data().eposta}}</td>
          
          <td><button (click)="Sil(kul.payload.doc.id)" >Sil</button></td>
          <td><button (click)="Duzenle(kul,kul.payload.doc.id)">Düzenle</button></td>
        </tr>
    </tbody>
</table>