
<div nz-row [nzGutter]="[5, 5]" >
  <div nz-col nzXl="8" nzXs="24"  class="gutter-row"><input type="text" nz-input [(ngModel)]="proje.ad"  placeholder="Proje Adı" > </div>
  <div nz-col nzXl="8" nzXs="24"  class="gutter-row"><input type="text" nz-input [(ngModel)]="proje.aciklama" placeholder="Açıklama" > </div>
  <div nz-col nzXl="8"><button nz-button nzType="primary"  (click)="AddProje()">Kaydet</button> </div>
</div>
<br>
<nz-table #basicTable [nzData]="projeList" nzSize="middle" [nzBordered]="true" [nzShowPagination]="false" [nzScroll]="{ x: '1200px', y: '540px' }">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ad</th>
      <th>Açıklama</th>
      <th>Oluşturma Tarihi</th>
      <th>Oluşturan Kullanıcı</th>
      <th>Sil</th>
      <th>Düzenle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proje of basicTable.data">
      <td>{{proje.id}}</td>
      <td>{{proje.ad}}</td>
      <td>{{proje.aciklama }}</td>
      <td>{{proje.olusturmaTarihi}}</td>
      <td>{{proje.olusturanKullaniciId}}</td>
      <td>
        <button nz-button nzDanger nz-popover [nzPopoverTitle]="titleTemplate" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click">
          <i nz-icon nzType="delete" ></i> Sil
        </button>
        <ng-template #titleTemplate>
          <i nz-icon nzType="info-circle"></i>
          {{proje.ad}} ' projesi silinsin mi?
        </ng-template>
        <ng-template #contentTemplate>
          <button nz-button   nzDanger  (click)="DeleteProje($event,proje)"  (nzOnCancel)="Vazgec()" ><i nz-icon nzType="delete"></i>  Sil</button>
        </ng-template>

      </td>
      <td><button nz-button  (click)="ShowModalDialog(proje)"><i nz-icon nzType="edit"></i> Düzenle</button></td>
    </tr>
  </tbody>
</nz-table>


<nz-modal [(nzVisible)]="displayModal" nzWidth="750px" nzTitle="The first Modal" (nzOnCancel)="ModalVazgec()" (nzOnOk)="UpdateProje()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="16">
      <div nz-col nzXl="12" nzXs="24" nzSm="24"><input type="text"  nz-input [(ngModel)]="selectProje.ad" id="txtAd" placeholder="Proje Adı" > </div>
      <div nz-col nzXl="12" nzXs="24" nzSm="24"><input type="text"  nz-input [(ngModel)]="selectProje.aciklama" id="txtAciklama" placeholder="Açıklama" > </div>
    </div>
  </ng-container>
</nz-modal>

